@use '@styles/general' as general;

.root {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    background-color: var(--snow-white);
    overflow-x: hidden;
    background:  radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 37%, rgba(247, 245, 245, 1) 57%, rgba(240, 235, 235, 1) 100%)
}

.title {
    font: var(--heading1);
    text-align: center;
    letter-spacing: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    @media only screen and (max-width: general.$mobile-width) {
        font-size: 3rem;
    }
}

.paragraph {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    font: var(--paragraph1);

    @media only screen and (max-width: general.$mobile-width) {
        font-size: 1rem;
    }
}

.text {
    width: 60%;
}

.button {
    align-self: center;
}

.image {
    align-self: center;
    height: 14em;
    margin-top: 1em;
    width: 24em;
}
