.root {
    width: 150px;
    border: 0px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid black;
    border-radius: 15px;
    flex-direction: column;
    height: 150px;
    padding: 10px;
}

.div2 {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.div3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header1 {
    font-size: 16px;
}
.header2 {
    font-size: 16px;
}
.header3 {
    font-size: 3rem;
}
