.root {
    width: 100vw;
    height: 100vh;
    border: 0px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div1 {
    height: 80%;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 30%;
    padding: 8px;
    overflow: hidden;
    height: 80%;
    width: 30%;
}
.div2 {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.p1 {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 9px;
}
.p2 {
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 9px;
}
.div3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.vertical-right {
    writing-mode: vertical-rl; /* or use vertical-lr */
    text-orientation: mixed; /* upright letters */
    text-orientation: 'upright';
    font-size: 9px;
}
.div4 {
    display: flex;
}
.vertical-left {
    writing-mode: vertical-lr; /* or use vertical-lr */
    text-orientation: mixed; /* upright letters */
    text-orientation: 'upleft';
    font-size: 9px;
}
.div5 {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 50px;
    flex-wrap: wrap;
}
.div6 {
    display: flex;
    height: 100%;
    gap: 20px;
    position: relative;
    width: 100%;
}
.div7 {
    height: 50px;
    overflow: hidden;
    width: 70px;
}
.header1 {
    width: auto;
}
.div8 {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 20px;
}
.div9 {
    width: 20px;
    height: 20px;
}
.div10 {
    display: flex;
    flex-direction: column;
}
.div11 {
    display: block;
}
