.root {
 position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1; // Make sure it's on top
  pointer-events: none; // Optional: makes it non-interactive for mouse
  background: transparent;

}

.canvas{
      
                 background: 'transparent'
}